nav.navbar, .navbar-default{
  background-color:#fff;
  border-bottom: 1px solid #ececec;
  box-shadow: 0 3px 8px rgba(0,0,0,.1);
  padding : 1rem;
  max-width:1440px;
  margin:0 auto 20;
  transition:1.2s all;
}
.navbar-default{
  background-image: none;
  border:none;
  border-radius:0;
}

.navbar-default .navbar-nav > li > a {
  color: black;
}
.navbar-default .navbar-brand {
  margin-top:-10px;
}
.navbar-default .navbar-toggle {
  border-color: white;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: #d2d7d3;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  background-color: transparent;
  color: white;
}