.detail{
  position: relative;
  background: #2574a9;
  color : #fff;
  width: 15px;
  height: 15px;
  line-height: 15px;
  border-radius: 10px;
  display: block;
  text-align: center;
  margin: 20px auto;
  font-size: 13px;
  cursor: pointer;
}
.detail:hover{
    color:#fff;
}