/*.nav a{*/
/*  position: relative;*/
/*  z-index: 2;*/
/*  background: linear-gradient(-45deg,#fe0847,#feae3f);*/
/*  color : #fff;*/
/*  width: 150px;*/
/*  height: 40px;*/
/*  line-height: 40px;*/
/*  border-radius: 40px;*/
/*  display: block;*/
/*  text-align: center;*/
/*  margin: 20px auto;*/
/*  font-size: 16px;*/
/*  cursor: pointer;*/
/*  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .1);*/
/*          box-shadow: 0 5px 10px rgba(0, 0, 0, .1);*/

/*}*/
.body-detail{
  background-color: #e8e8e8;
}
.nav a:hover{
    text-decoration: none;
}
