.Footer .footer-top {
  font-weight: 300;
    font-size: 14px;
    padding: 60px 0 55px 0;
    text-align: left;
  color: rgba(255,255,255,0.8);
}
.Footer .footer-top .footer-left {
  max-width: 360px;
}
.Footer .footer-top p b{
  font-weight:600;
  color: rgba(255,255,255,0.9);
}
.Footer .footer-top p {
  color: rgba(255,255,255,0.8);
}
.Footer .footer-bottom {
  /*margin-top:371px;*/
  background-color: #E43C00;
  padding: 20px 0 15px 0;
  text-align:center;
  font-size:13px;
    color: rgba(255,255,255,0.6);
    font-weight: 300;
}
.Footer .footer-logo {
  height: 40px;
  margin-bottom: 8px;
}
.Footer .footer-right {
      padding: 92px 0;
}
.Footer .footer-right h5{
  color: rgba(255,255,255,0.9);
}
.Footer .footer-right p{
  margin: 16px 0 24px 0;
}
.hide-mobile {
  display: block;
}
.mobile-only {
  display: none;
}

@media only screen and (max-width: 576px){
  .Footer .footer-top {
    text-align:center;
    padding: 2rem 0 1rem 0;
  }
  .Footer .footer-top .footer-left {
    max-width: 560px;
  }
  .Footer .footer-bottom {
    text-align:center;
  }
  .hide-mobile {
    display: none;
  }
  .mobile-only {
    display: block;
  }
  .Footer .footer-right {
    padding: 3px 0;
  }
  .Footer .footer-right h5{
    font-size: 15px;
      margin-right: 5px;
      line-height: 22px;
  }
}