.header-dashboard {
  background-color:#fff;
  padding : 1rem;
  /* max-width:1440px; */
  margin:0 auto 20;
}
@media screen and (max-width:576px) {
  .mobile-hide-content {
    display: none;
  }
  .fa-power-off{
  vertical-align: -5px;
  font-size: 2rem;
}
.header-dashboard {
  padding : 1rem;
}
}