.login-body{
  background-color:#fff;
  min-height:100vh;
  
}
.form-check-label{
  margin-left: 10px;
}
.box{
  margin:80px;
}
.btn-login{
  position: relative;
  z-index: 2;
  background: #EE481D;
  color : white;
  width: 100px;
  height: 40px;
  border-radius:3px;
  line-height: 30px;
  display: block;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, .1);

}
.btn-login:hover{
  color:white;
  cursor: pointer;
}
