/*.kotak a{*/
/*  background: linear-gradient(-45deg,#fe0847,#feae3f);*/
/*  color : #fff;*/
/*  width: 150px;*/
/*  height: 40px;*/
/*  line-height: 40px;*/
/*  border-radius: 40px;*/
/*  display: block;*/
/*  text-align: center;*/
/*  margin-left: 100px;*/
/*  font-size: 16px;*/
/*  cursor: pointer;*/
/*  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .1);*/
/*          box-shadow: 0 5px 10px rgba(0, 0, 0, .1);*/

/*}*/
.kotak a:hover{
    text-decoration:none;
}
.title .far{
  color:#fff;
  font-size: 60px;
  width: 100px;
  height: 100px;
  border-radius:  50%;
  text-align: center;
  line-height: 100px;
  -webkit-box-shadow: 0 10px 10px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 10px rgba(0,0,0,.1) ;

}